@import "variable";

@font-face {
    font-family: DungGeunMo;
    src: url(../assets/font/DungGeunMo.woff2);
}

body {
    margin: 0;
    padding: 0;

    .dotris-root {
        .dotris-board {
            border: solid 1px $board-stroke-color;
        }


    }
}

